@import "reset.css";
@import "fonts.css";
@import "var.css";

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 85px;
}
.title img{
  height: 520px;
}

.menu{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 525px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 660px;
  justify-content: space-evenly;
  text-align: left;
}
.menu a{
  padding-left: 40px;
  font-weight: bold;
  font-size: 60px;
  color: white;
}
.menu a:hover{
  color: var(--pink);
}

footer{
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 50px;
}
footer a{
  color: white;
  font-size: 30px;
}
footer a:hover{
  color: var(--pink);
}