@import "reset.css";
@import "fonts.css";
@import "var.css";

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
}
.title img{
  height: 50vh;
}

.menu{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-bottom: 3vh;
  text-align: left;
  padding: 15px 40px;
}
.menu a{
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  line-height: 1.5;
}
.menu a:hover{
  color: var(--pink);
}

footer{
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 3vh;
}
footer a{
  color: white;
  font-size: 2rem;
}
footer a:hover{
  color: var(--pink);
}